.wrapper {
  width: 99vw;
  margin: auto;
  height: auto;
  padding: 2px;
}

.header {
  border-bottom: 1px solid;
  width: 99%;
  height: 100px;
  margin: auto;
  margin-bottom: 2px;
  display: flex;
  justify-content: space-evenly;
  padding: 2px;
}
.header .title {
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 2px 0px 2px;
}

.header .links {
  width: 60%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 2px 0px 2px;
}

.header .links p {
  margin: 0px 40px 0px 40px;
  font-size: 20px;
}

.header .links p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.header .profile {
  width: 20%;
  height: auto;
  display: flex;
  align-items: center;

  margin: 0px 2px 0px 2px;
}

.header .profile .image {
  width: 20%;
  height: 60%;
  margin: 2px;
  border-radius: 50%;
}

.header .profile .name {
  width: 40%;
  height: 60%;
  margin: 2px 2px 2px 5px;
  display: flex;
  align-items: center;
}

.header .profile .name p {
  margin: 0px 0px 0px 2px;
}

.header .profile .name p:hover {
  cursor: pointer;
  text-decoration: underline;
}

.header .profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.body {
  width: 99%;
  height: auto;
  margin: auto;
  margin-bottom: 2px;
  padding: 2px;
}

.body .user-basicinfo {
  width: 99%;
  margin: auto;
  height: 150px;
  margin-top: 5px;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(92, 142, 220);
}

.user-basicinfo .basicinfo-1 {
  width: 40%;
  height: auto;
  margin: 2px;
  padding: 10px;
}

.user-basicinfo .basicinfo-2 {
  width: 40%;
  height: auto;
  margin: 2px;
  padding: 10px;
}

.body .user-about {
  width: 99%;
  margin: auto;
  height: 150px;
  margin-top: 5px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 3px;
}

.body .user-skills {
  width: 99%;
  margin: auto;
  height: 150px;
  margin-top: 5px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 3px;
}

.body .user-education {
  width: 99%;
  margin: auto;
  height: 150px;
  margin-top: 5px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 3px;
}

.footer {
  width: 99%;
  margin: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  background-color: #ededed;
  margin-top: 30px;
}

.footer .about {
  width: 40%;
  margin: 2px;
  height: auto;
  padding: 10px;
}

.footer .about p a {
  color: black;
  text-decoration: none;
}

.footer .about p a:hover {
  text-decoration: underline;
}

.footer .contact {
  width: 40%;
  margin: 2px;
  height: auto;
  padding: 10px;
}
